/* Font Link */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500&display=swap');

  /* True for all tag */
  a{
    text-decoration: none;
    color:  #424242;   
  }
  
  a:hover{
    color: blue;
  }


  *{
    font-family: 'Work Sans';
    
  }

.header{
    background-color:#FF900E1A;
}



/*------------
    Nav bar
 -------------  */
 .nav-bar{
    display: flex;
    justify-content: space-around;
 }
 .nav-option{
    display: flex;
    align-items: center;
    gap: 90px;
 }
 .nav-head{
    font-weight: 700;
    font-size: 45px;
 }
 .nav-option p a{
    font-size: 18px;  
 }

 /*------------
  Nav Ends Here 
  --------------*/





 /*--------------------------
 Start Of header middle part
 ---------------------------- */
.details{
   text-align: center;
}
.details-head{
    font-size: 4em;
    font-weight: 700;
}
.details-info{
    color: #727272;
    font-size: 1em;;
}
.btn-1 button{
    width: 180px;
    height: 64px;
    background-color: #FF900E;
    font-size: 20px;
    color: white;
    border: none;
    border-radius: 8px;
    margin-top: 32px;
}
.btn-1 button:hover{
    width: 180px;
    height: 64px;
    background-color: transparent;
    font-size: 20px;
    color: black;
    border: 1px solid black;
    border-radius: 8px;
    margin-top: 32px;

}
.img{
    /* display: flex; */
    margin-top: 50px;
    padding-bottom: 45px;
    /* justify-content: center; */
    /* width: 144 0px;
    height: 700px; */
    
}


/*==========--------------
 End Of Header Middle Part
 ------------------------- */



 /*--------------------------
  Starts Of body Upper part
   --------------------------*/
 .main-upper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 85px;
 }

.upper-image{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 24px;
    grid-column-gap: 24px;
}
.upper-head{
    color: #727272;
    font-size: 45px;

}
.upper-head-design{
    color: black;
    font-weight: 700;
}
.upper-head-design2{
    color: #FF900E;
    font-weight: 700;
}

/*----------------
 End Of Upper Body
 ----------------- */






 /*---------------------
  Start of Middle Body
  ---------------------- */
   .middle-body{
    width: 100%;
    padding: 0;
    
   }
 .middle{
    display: flex;
    justify-content: space-around;
    margin-top: 130px;
 }
 .middle-body-head{
    font-size: 2.82em;
    font-weight: 700;
    border-left:5px solid #FF900E;
 }
 .middle-body-details{
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 30px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);

 }
 .middle-body-details-head{
    font-size:1.25em ;
    font-weight: 600;
 }


 .btn-2{
    background-color: #FF900E;
    color: white;
    width: 320px;
    height: 200px;
    border: none;
    border-radius: 10px;
    margin-top: 30px;
 }
 .btn-2:hover{
    background-color: transparent;
    color: black;
    border: 1px solid black;
 }
 .bold{
    font-size: 65px;
    font-weight: 700;

 }
 .normal{
    font-size: 25px;
    font-weight: 400;
 } 
 /*------------------ 
 End Of Middle Body
 -------------------- */

 /*----------------
  Star Of Down Body 
  -----------------*/
 .down-start{
    padding-left: 240px;
 }

 .down-head{
    font-size: 2.90em;
    font-weight: 700;
 }

 .achievements{
    margin-top: 100px;
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 124px;
 }
.achievement{
    /* border: 1px solid black; */
    padding: 45px;
    margin-top: 10px;
    padding-bottom: 60px;
    border-radius: 5px;
    border: 1px solid #FF900E;
    transition: 1s;
    
}
.achievement:hover{
    background-color:#ff8f0e3d;
    box-shadow: #FF900E  0px 20px 40px;
}

.total-achievement{
    font-weight: 600;
    font-size: 2.90em;
    padding: 0;
    margin: 0;
    color: #424242;

}
.achievement-name{
    font-size: 1.3em;
    font-weight: 500;
    padding: 0;
    margin: 0;
    color:  #a4a2a2;
}


/* Sponsor Part */
.sponsors{
    display: grid;
    justify-content: center;
    grid-row-gap: 50px;
    text-align: center;
}
.sponsor-head{
    margin-top: 180px;
    font-size: 45px;
    font-weight: 700;
}
.sponsor-info{
    color: #727272;
    font-size: 1em;
}
.sponsors-logos{
    display: flex;
    gap: 155px;
}
.sponsors-logo{
    filter: grayscale(100%);
}
/* Sponsoer Part End */

footer p{
    background-color: #FFF4E7;
    text-align: center;
    width: 70%;
    font: 1.25em;
    color:  #424242;
    
    padding-top: 39px;
    padding-bottom: 35px;
    border-radius: 8px;
}
footer{
    display: flex;
    justify-content: center;
    margin-top: 169px;
}





/* Responsive section  */

@media only screen and (max-width:576px) {

/* Responsive Header Start */
    
.header{
    width: 100%;
    padding: 0;
}
.details{
    width: 100%;
    /* padding: 0; */
}
.nav-bar{
     flex-direction: column;
    }
.nav-option{
    flex-direction: column;
}
.img img{
    width: 100%;
}
.details-head{
    font-size: 4em;
    
}
.details-info{
    font-size: 1em;
}

/*------------------
 Responsive Header End
-------------------- */




/*-------------------------------
 Responsive Upper Body Start
 -------------------------------- */
 
 .main-upper{
    flex-direction: column;
 }

.upper-image{
    grid-template-columns: repeat(1,1fr);
}
/*--------------------------
 Responsive Upper Body End
 --------------------------- */







 /* Responsive Middle Body Start */
 
 .middle{ 
    flex-direction: column; 
 }

.middle-body-details{
    width: 80%;
    margin-left: 0px;
}

    
.img-1 img{
    width: 100%;
    margin-bottom: 30px;
}
.btn-2{
    width: 160px;
    height: 100px;
    padding: 0;
    margin-left: 100px;
}
.normal{
    font-size: 1em;
}
.bold{
    font-size: 2em;
}

/* Responsive Middle Body End */
/* Responsive Down Starts */
.achievements{
    flex-direction: column;
}
.down-start{
    padding: 0;
}
.sponsors-logos{
    flex-direction: column;
}
/* Responsive Down End */



/* Responsive Footer Star */
footer{
    padding: 0;
}
footer p{
    width: 100%;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}
/* Responsive Footer End */


}